.root {
  display: flex;
}

.leftWrapper {
  position: relative;
}

.signInImg {
  max-height: 100vh;
}

.logo {
  left: 40px;
  top: 40px;
  position: absolute;
}

.rightWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: auto;
}
