.container {
  padding: 12px 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.wrapper1 {
  display: flex;
  justify-content: space-between;
}

.wrapper2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 14px;
}

.wrapper2 button {
  vertical-align: middle;
}

.wrapper2 button:not(:first-child) {
  margin-left: 12px;
}

.wrapper3 {
  margin-top: 16px;
}

.wrapper4 {
  display: flex;
  margin-top: 17px;
  margin-left: auto;
  align-items: center;
}
