.root {
  display: flex;
}

.leftWrapper {
  position: relative;
}

.signInImg {
  max-height: 100vh;
}

.logo {
  left: 40px;
  top: 40px;
  position: absolute;
}

.rightWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 26px;
  font-weight: 600;
  line-height: 0.85;
  color: #171717;
}

.marginTop {
  margin-top: 40px;
}

.rememberWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  margin-top: 40px;
  height: 48px;
  border-radius: 8px;
  background-color: #276ef1;
}

.buttonLabel {
  color: #fff
}
