.root {
  display: flex;
}

.signInImg {
  max-height: 100vh;
}

.wrapper2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.forgotPassword {
  font-size: 14px;
  font-weight: 500;
  color: #276ef1;
  line-height: 1.43;
  text-decoration: none;
}

.forgotPassword:hover {
  text-decoration: underline;
}

.MuiButton-root {
  background-color: #276ef1;
}
