aside.sidebar {
  width: 60px;
  height: 876px;
  border-radius: 30px;
  background-color: #171717;
  display: inline-flex;
  flex-direction: column;
}

.logo {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  padding: 10px 0 23.5px;
  display: flex;
  justify-content: center;
}

.logo a {
  width: 40px;
  height: 40px;
}

ul {
  padding: 7.5px 0;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

a.active {
  position: relative;
  overflow: hidden;
}

a.active::before {
  content: '';
  height: 40px;
  width: 8px;
  border-radius: 3px;
  background-color: #276ef1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 0;
}

a.icon {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

a.active .normalIcon,
a.icon:hover .normalIcon,
a.icon:not(.active) .hoverIcon {
  display: none;
}

a.icon:hover .hoverIcon {
  display: block;
}

.settings {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.avatar {
  display: flex;
  justify-content: center;
  padding-bottom: 14px;
  padding-top: 8px;
}

.avatar a {
  width: 32px;
  height: 32px
}
