.form {
  width: 419px;
  position: relative;
}

.backIcon {
  position: absolute;
  top: -70px;
}

.header {
  font-size: 26px;
  font-weight: 600;
  line-height: 0.85;
  color: #171717;
}

.instruction {
  margin-top: 12px;
  font-size: 14px;
  line-height: 1.43;
  color: #171717;
}

.input {
  margin-top: 40px;
}

.submitButton {
  margin-top: 40px;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  font-size: 14px;
}

.resetSuccess {
  width: 304px;
}

.show {
  display: flex;
}
