* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-size: 12px;
  color: #181c2d;
  line-height: normal;
}

ol, ul {
	list-style: none;
}

img {
  display: block
}

textarea:focus, input:focus{
  outline: none;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  display: inline-flex;
}
